@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/light";
@import "variables/var";
@import "animations";

body {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	font-family: var(--font-family-main);

	color: rgb(var(--color-text));
	background: linear-gradient(90deg, var(--color-background) 15px, transparent 1%) 50%, linear-gradient(var(--color-background) 15px, var(--bg-dots) 1%) 0, hsla(0, 0%, 100%, .16);
	background-size: 16px 16px;
}

.app {
	min-height: 100vh;
}

.content {
	--content-margin: auto;

	@media (max-width: 1350px) {
		--content-margin: 30px;
	}

	@media (max-width: $display-phone) {
		--content-margin: 10px
	}

	max-width: 1320px;
	margin: 0 var(--content-margin);
}

.content-page {
	display: flex;
}

.page-wrapper {
	flex-grow: 1;
	padding: 20px;
}

a {
	color: rgba(var(--color-text), .5);
	text-decoration: none;
	transition: color .1s ease;

	&:hover {
		color: rgba(var(--color-text), 1)
	}
}

.noselect {
	user-select: none;
	pointer-events: none;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background: var(--color-main-inverted);
	border-radius: 100px;

	&:hover {
		background: rgba(255, 255, 255, 1);
	}
}