@import 'tailwind';
@import "variables";
@import "themes/dark";
@import "themes/light";
@import "animations";
@import "swiper";
@import "nextui";

html {
	font-size: 16px;
	color: rgb(var(--color-text));

	@media (max-width: theme('screens.sm')) {
		font-size: 14px;
	}
}

body {
	font-family: var(--font-family-main);
	font-weight: 300;
	line-height: 1.5;
	background: linear-gradient(90deg, var(--color-background) 15px, transparent 1%) 50%, linear-gradient(var(--color-background) 15px, var(--color-background-dots) 1%) 0, hsla(0deg, 0%, 100%, 16%);
	background-size: 16px 16px;
	isolation: isolate;
}

.app {
	min-height: 100vh;
}

.content {
	--content-margin: auto;

	@media (width <=1350px) {
		--content-margin: 30px;
	}

	@media (max-width: theme('screens.sm')) {
		--content-margin: 15px;
	}

	max-width: 1320px;
	margin: 0 var(--content-margin);
}

a {
	color: rgba(var(--color-text), .5);
	text-decoration: none;
	transition: all .1s ease;

	&:hover {
		color: rgba(var(--color-text), 1)
	}
}

.noselect {
	pointer-events: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background: var(--color-main-inverted);
	border-radius: 100px;

	&:hover {
		background: rgba(255, 255, 255, 100%);
	}
}

.rippleRoot {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
	border-radius: inherit;
}

[data-optimization="true"] * {
	animation: none !important;
}