@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/light";

body {
	font: var(--font-m);
	color: var(--text-color);
	background: linear-gradient(90deg, var(--bg-color) 15px, transparent 1%) 50%, linear-gradient(var(--bg-color) 15px, var(--bg-dots) 1%) 0, hsla(0, 0%, 100%, .16);
	background-size: 16px 16px;
}

.app {
	min-height: 100vh;
}

.content {
	width: 1320px;
	max-width: 1320px;
	margin: 0 auto;
}

.content-page {
	display: flex;
}

.page-wrapper {
	flex-grow: 1;
	padding: 20px;
}

a {
	color: var(--text-opacity-color);
	text-decoration: none;
	transition: color .1s ease;

	&:hover {
		color: var(--text-color)
	}
}