[data-slot="input-wrapper"] {
	textarea {
		background: none;
	}
}

[role="tooltip"] {
	pointer-events: none;
	user-select: none;

	[data-slot="content"] {
		background: var(--bg-noise), var(--color-background);
		border: 1px solid var(--color-border);
	}
}