@mixin background($opacity: 1,
	$border: false) {
	@if $border {
		$border: 1px solid var(--color-border);
	}

	background: var(--bg-noise),
	rgba(var(--color-main-rgb), $opacity) !important;
	border: $border;
}