:root {
	// * Fonts
	--font-family-main: inter, sans-serif;

	// * Sizes
	--navbar-height: 80px;
	--navbar-height-mobile: 60px;
	--navbar-height-search-mobile: 70px;
	--height-wave: 200px;
	--height-footer: 190px;
	--height-screen: calc(100vh - var(--height-wave) - var(--height-footer) - var(--navbar-height));

	// * Colors
	--color-ozon-rgb: 0, 91, 255;
	--color-yandex-rgb: 254, 212, 43;
	--color-aliexpress-rgb: 252, 36, 41;
	--color-wildberries-rgb: 158, 34, 148;
	--color-sber-rgb: 24, 165, 88;

	// * z Indexes
	--z-index-space: -30;
	--z-index-title-heading: -25;
	--z-index-bg-images: -20;
	--z-index-light: -15;
	--z-index-blackhole: -10;
	--z-index-hero-images: -5;
	--z-index-footer: 10;
	--z-index-navbar-admin: 11;
	--z-index-notification: 15;
	--z-index-navbar: 20;
	--z-index-scroll-up: 25;
	--z-index-modal: 30;

	// * Filters
	--blur-xs: blur(8px);
	--blur-sm: blur(16px);
	--blur-md: blur(32px);
	--blur-lg: blur(64px);
	--blur-xl: blur(128px);
	--bg-noise: url('/images/noise.png') repeat;

	// * Others
	--position-bottom: 45px;
	--position-top: calc(var(--navbar-height) + 10px);

	@media (max-width: theme('screens.md')) {
		--blur-xs: none;
		--blur-sm: none;
		--blur-md: none;
		--blur-lg: none;
		--blur-xl: none;
		--height-wave: 0;
	}

	@media (max-width: theme('screens.sm')) {
		--position-bottom: calc(var(--navbar-height-mobile) + 10px);
		--position-top: calc(var(--navbar-height-search-mobile) + 10px);
		--height-screen: calc(100vh - var(--navbar-height-mobile) - var(--navbar-height-search-mobile) - var(--navbar-height));
	}
}