:root {
	// Fonts
	--font-family-main: inter, sans-serif;

	// Sizes
	--navbar-height: 80px;
	--navbar-height-mobile: 60px;
	--navbar-height-search-mobile: 70px;

	// Colors
	--color-ozon-rgb: 0, 91, 255;
	--color-yandex-rgb: 254, 212, 43;
	--color-aliexpress-rgb: 255, 0, 0; // todo
	--color-wildberries-rgb: 0, 255, 0; // todo
	--color-sber-rgb: 0, 0, 255; // todo

	// z Indexes
	--z-index-space: -30;
	--z-index-title-heading: -25;
	--z-index-bg-images: -20;
	--z-index-light: -15;
	--z-index-blackhole: -10;
	--z-index-hero-images: -5;
	--z-index-footer: 10;
	--z-index-notification: 15;
	--z-index-navbar: 20;
	--z-index-scroll-up: 25;
	--z-index-modal: 30;

	// Filters
	--blur-xs: blur(8px);
	--blur-sm: blur(16px);
	--blur-md: blur(32px);
	--blur-lg: blur(64px);
	--blur-xl: blur(128px);
	--bg-noise: url('/images/noise.png') repeat;

	@media (max-width: theme('screens.md')) {
		--blur-xs: none;
		--blur-sm: none;
		--blur-md: none;
		--blur-lg: none;
		--blur-xl: none;
	}

	// Others
	--position-bottom: 45px;
	--position-top: calc(var(--navbar-height) + 10px);

	@media (max-width: theme('screens.sm')) {
		--position-bottom: calc(var(--navbar-height-mobile) + 10px);
		--position-top: calc(var(--navbar-height-search-mobile) + 10px);
	}
}