@import '@/app/styles/utils';

.wrapper {
	$color: #93c5fd; // theme('colors.secondary')
	$border-size: 1px;

	position: relative;
	z-index: var(--z-index-modal);
	padding: $border-size;
	overflow: hidden;
	box-shadow: 1px 1px 70px #93c4fd27; // #a411ff34

	@apply rounded-xl;

	&::before {
		position: absolute;
		top: -50%;
		left: -50%;
		z-index: -2;
		width: 200%;
		height: 200%;
		content: '';
		background-image: linear-gradient(#000, $color, #000), linear-gradient($color, #000, $color), linear-gradient($color, #000, $color), linear-gradient(#000, $color, #000);
		background-repeat: no-repeat;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		animation: rotate 4s linear infinite;
	}

	form {
		display: flex;
		flex-direction: column;

		@apply gap-4;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.modal {
	padding: 20px 5px;

	@apply rounded-xl;
	@include background(.98);

	footer {
		justify-content: center;
	}
}

.header {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.button {
	@apply text-sm;

	font-weight: 300;

	&:hover {
		color: rgb(var(--color-text), 1);
	}
}

.tabs {
	[data-slot="tabList"] {
		background: rgba(var(--color-main-inverted-rgb), .03);
		border: 1px solid var(--color-border);
	}

	[data-selected="true"] {
		span {
			background: rgba(var(--color-main-inverted-rgb), .08);
		}
	}
}

.tab {
	padding: 10px 0;
}