.footer {
	position: relative;
	z-index: var(--z-index-footer);
	width: 100%;
	padding: 30px 0;
	background: var(--bg-noise), var(--color-main);
	border-top: 1px solid var(--color-border);

	@media (max-width: theme('screens.md')) {
		margin-top: 50px;
	}

	@media (max-width: theme('screens.sm')) {
		margin-bottom: var(--navbar-height-mobile);
	}

	p {
		color: rgb(var(--color-text), .3);

		@apply text-sm;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;

	@media (max-width: theme('screens.md')) {
		align-items: center;
	}
}

.linksContent {
	display: flex;
	gap: 10px;

	img,
	svg {
		opacity: .3;
		transition: all .1s ease;
	}

	a:hover {

		img,
		svg {
			opacity: 1;
		}
	}
}

.spaces {
	width: 1px;
	height: 22px;
	margin: auto 0;
	background: rgb(var(--color-main-inverted-rgb), .1);
}