.Footer {
	position: relative;
	width: 100%;
	background: var(--bg-noise), var(--color-main);
	border-top: 1px solid var(--color-border);
	padding: 30px 0;
	z-index: var(--z-index-footer);

	p {
		color: rgba(var(--color-text), .3);
		font: var(--font-small);
	}
}

.Content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.LinksContent {
	display: flex;
	gap: 10px;

	img {
		opacity: .3;
		transition: all .1s ease;
	}

	a:hover {
		img {
			opacity: 1;
		}
	}
}

.Spaces {
	margin: auto 0;
	height: 22px;
	width: 1px;
	background: rgba(var(--color-main-inverted-rgb), .1);
}