:root {
	// Fonts
	--font-family-main: inter, sans-serif;

	// Colors
	// --color-default: #3f3f46;
	// --color-primary: #006FEE;
	// --color-secondary: #9353d3;
	// --color-success: #17c964;
	// --color-warning: #f5a524;
	// --color-danger: #f31260;
	--color-overlay: rgba(0 0 0 / 60%);

	// Sizes
	--navbar-height: 80px;
	--sidebar-width: 300px;
	--sidebar-width-collapsed: 80px;

	// z Indexes
	--z-index-space: -50;
	--z-index-title-heading: -20;
	--z-index-bg-images: -15;
	--z-index-light: -10;
	--z-index-blackhole: -9;
	--z-index-hero-images: -5;
	--z-index-modal: 10;
	--z-index-footer: 90;
	--z-index-navbar: 100;
	--z-index-scroll-up: 110;
	--z-index-notification: 110;

	// Filters
	--blur-xs: blur(8px);
	--blur-sm: blur(16px);
	--blur-md: blur(32px);
	--blur-lg: blur(64px);
	--blur-xl: blur(128px);
	--bg-noise: url('/images/noise.png') repeat;

	// Others
	--position-bottom: 45px;
}