:root {
	// Fonts
	--font-family-main: Inter, sans-serif;

	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.325rem;

	--line-height-xs: 1rem;
	--line-height-sm: 1.25rem;
	--line-height-md: 1.5rem;
	--line-height-lg: 1.75rem;
	--line-height-xl: 2rem;

	--font-xs: var(--font-size-xs) / var(--line-height-xs);
	--font-sm: var(--font-size-sm) / var(--line-height-sm);
	--font-md: var(--font-size-md) / var(--line-height-md);
	--font-lg: var(--font-size-lg) / var(--line-height-lg);
	--font-xl: var(--font-size-xl) / var(--line-height-xl);

	// Colors
	// --color-default: #3f3f46;
	// --color-primary: #006FEE;
	// --color-secondary: #9353d3;
	// --color-success: #17c964;
	// --color-warning: #f5a524;
	// --color-danger: #f31260;
	--color-overlay: rgba(0 0 0 / 60%);

	// Border Radius
	--radius-xs: 4px;
	--radius-sm: 7px;
	--radius-md: 10px;
	--radius-lg: 16px;
	--radius-xl: 20px;

	// Paddings
	--padding-y-sm: 5px;
	--padding-x-sm: 10px;
	--padding-sm: var(--padding-y-sm) var(--padding-x-sm);

	--padding-y-md: 7px;
	--padding-x-md: 16px;
	--padding-md: var(--padding-y-md) var(--padding-x-md);

	--padding-y-lg: 20px;
	--padding-x-lg: 50px;
	--padding-lg: var(--padding-y-lg) var(--padding-x-lg);

	// Sizes
	--navbar-height: 80px;
	--sidebar-width: 300px;
	--sidebar-width-collapsed: 80px;

	// z Indexes
	--z-index-space: -50;
	--z-index-title-heading: -20;
	--z-index-bg-images: -15;
	--z-index-light: -10;
	--z-index-blackhole: -9;
	--z-index-hero-images: -5;
	--z-index-modal: 10;
	--z-index-footer: 90;
	--z-index-navbar: 100;
	--z-index-scroll-up: 110;
	--z-index-notification: 110;

	// Filters
	--blur-xs: blur(8px);
	--blur-sm: blur(16px);
	--blur-md: blur(32px);
	--blur-lg: blur(64px);
	--blur-xl: blur(128px);
	--bg-noise: url('/images/noise.png') repeat;

	// Others
	--position-bottom: 45px;
}