:root {
	// Fonts
	--font-family-main: Inter, sans-serif;

	--font-size-tiny: 0.75rem;
	--font-size-small: 0.875rem;
	--font-size-medium: 1rem;
	--font-size-large: 1.125rem;

	--line-height-tiny: 1rem;
	--line-height-small: 1.25rem;
	--line-height-medium: 1.5rem;
	--line-height-large: 1.75rem;

	--font-tiny: var(--font-size-tiny) / var(--line-height-tiny) var(--font-family-main);
	--font-small: var(--font-size-small) / var(--line-height-small) var(--font-family-main);
	--font-medium: var(--font-size-medium) / var(--line-height-medium) var(--font-family-main);
	--font-large: var(--font-size-large) / var(--line-height-large) var(--font-family-main);

	// Border Radius
	--radius-tiny: 4px;
	--radius-small: 7px;
	--radius-medium: 10px;
	--radius-large: 16px;

	// Paddings
	--padding-y-small: 5px;
	--padding-x-small: 10px;
	--padding-small: var(--padding-y-small) var(--padding-x-small);

	--padding-y-medium: 10px;
	--padding-x-medium: 20px;
	--padding-medium: var(--padding-y-medium) var(--padding-x-medium);

	--padding-y-large: 20px;
	--padding-x-large: 40px;
	--padding-large: var(--padding-y-large) var(--padding-x-large);

	// Sizes
	--navbar-height: 80px;
	--sidebar-width: 300px;
	--sidebar-width-collapsed: 80px;

	// z Indexes
	--modal-z-index: 10;
	--space-z-index: -50;
	--navbar-z-index: 100;
	--footer-z-index: 90;
	--light-z-index: -10;
	--scroll-up-z-index: 110;
	--notification-z-index: 110;

	// Colors
	--overlay-color: rgba(0 0 0 / 60%);
	--red-light: #ff0000;
	--red-dark: #a30000;

	// Filters
	--main-blur: blur(128px);
	--bg-noise: url('/images/noise.png') repeat;

	// Others
	--position-bottom: 45px;
}