@import '@/app/styles/utils';

.wrapper {
	form {
		display: flex;
		flex-direction: column;

		@apply gap-4;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.modal {
	padding: 20px 5px;

	footer {
		justify-content: center;
	}
}

.header {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.button {
	@apply text-sm;

	font-weight: 300;

	&:hover {
		color: rgb(var(--color-text), 1);
	}
}

.tabs {
	[data-slot="tabList"] {
		background: rgba(var(--color-main-inverted-rgb), .03);
		border: 1px solid var(--color-border);
	}

	[data-selected="true"] {
		span {
			background: rgba(var(--color-main-inverted-rgb), .08);
		}
	}
}

.tab {
	padding: 10px 0;
}

.error {
	@apply text-danger-500;
	@apply font-medium;
	@apply text-sm;
}