.wrapper {
	position: relative;
}

.backgroundImage {
	position: absolute;
	top: -70px;
	left: 0;
	z-index: calc(var(--z-index-bg-images) - 2);
	width: 1320px;
	height: auto;

	@media (max-width: theme('screens.lg')) {
		display: none;
	}
}

.backgroundWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 70px 240px 0;

	@media (max-width: theme('screens.xl')) {
		padding: 70px 210px 0;
	}

	@media (max-width: theme('screens.lg')) {
		gap: 10px;
		padding: 70px 0 0;
	}
}

.heading {
	display: flex;
	flex-direction: column;
	gap: 7px;
	align-items: center;
	justify-content: center;
	padding-top: 190px;
	text-align: center;

	@media (max-width: theme('screens.sm')) {
		padding-top: 70px;
	}

	img {
		margin-bottom: 7px;
	}

	h3 {
		font-weight: 600;

		@media (max-width: theme('screens.sm')) {
			@apply text-lg;
		}
	}

	p {
		opacity: .5;

		@media (max-width: theme('screens.sm')) {
			@apply text-sm;
		}
	}
}

$swipe-size: 280px;

.swipeWrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: calc($swipe-size * 3);

	&::before {
		position: absolute;
		top: 164px;
		left: 76px;
		width: 718px;
		height: 2px;
		content: "";
		background: linear-gradient(90deg, rgb(255, 255, 255, 0%) -.89%, rgb(255, 255, 255, 8%) 24.33%, rgb(255, 255, 255, 8%) 49.55%, rgb(255, 255, 255, 8%) 74.78%, rgb(255, 255, 255, 0%) 100%);

		@media (max-width: theme('screens.xl')) {
			content: none;
		}
	}
}

.swipe {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: $swipe-size;
	height: 164px;
	padding: 25px 0 32px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: transform .1s ease;

	&:active {
		transform: scale(0.98);
	}

	img {
		margin: 0 auto 19px;
	}

	.swipeDescription {
		font-weight: 300;
		opacity: .5;

		@apply text-sm;
	}

	@media (min-width: theme('screens.xl')) {
		&:nth-child(4)::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			content: "";
			background: linear-gradient(to bottom, rgb(255, 255, 255, 12%) 0, rgb(255, 255, 255, 0%) 100%);
		}

		&:nth-child(1)::before,
		&:nth-child(2)::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			content: "";
			background: linear-gradient(to top, rgb(255, 255, 255, 12%) 0, rgb(255, 255, 255, 0%) 100%);
		}

		&:nth-child(1n+4)::after {
			background: linear-gradient(to top, rgb(255, 255, 255, 0%) 0%, rgb(255, 255, 255, 6%) 100%);
		}
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		content: "";
		background: linear-gradient(to bottom, rgb(255, 255, 255, 0%) 0%, rgb(255, 255, 255, 6%) 100%);
		opacity: 0;
		transition: .45s cubic-bezier(.6, .6, 0, 1) opacity;

		@media (max-width: theme('screens.xl')) {
			@apply rounded-b-xl;
		}
	}

	&:hover::after {
		opacity: 1;
	}
}