.About {}

.Image {
	position: relative;
	z-index: var(--z-index-bg-images);
	width: 100%;
	height: auto;
}

.box {
	width: 64px;
	height: 64px;
	border-radius: 12px;
	display: block;
	box-shadow: inset 0px 2.52px 11.42px 0px rgba(255, 255, 255, 0.8);
	background: linear-gradient(135.00deg, rgb(52, 109, 255) 0%, rgb(255, 64, 247) 100%);
}