.wrapper {
	display: flex;
	flex-direction: column;
	gap: 100px;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: var(--height-screen);
}

.information {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;

	h1 {
		font-size: 32px;
		font-weight: 700;
	}

	p {
		font-size: 16px;
		color: rgba(var(--text-color), .5);
	}
}