.dropdown {
	width: 260px;
	background: var(--bg-noise), var(--color-background);
	border: 1px solid var(--color-border);
}

.dropdownItem {
	display: flex;
}

.langSwitcher {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.switch {
	span>span {
		background: white;
	}
}

.disabled {
	cursor: not-allowed;
}