.button {
	position: relative;
	color: rgb(var(--color-text), .5);
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	transition: all .2s ease;

	&:active {
		transform: scale(0.98);
	}
}

.inherit {
	padding: inherit;
	border-radius: inherit;
}

.default {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
	width: fit-content;
	text-align: center;
	white-space: nowrap;
	border: 1px solid var(--color-border);
	transition: all .2s ease;

	&::before,
	img,
	svg {
		opacity: .5;
		transition: opacity 0.2s ease;
	}

	&:hover {
		color: rgb(var(--color-text), 1);
		border: 1px solid var(--color-border-select);

		&::before,
		img,
		svg {
			opacity: 1;
		}
	}
}


// Variants
.gradient {
	background: linear-gradient(135.00deg, rgb(52, 109, 255) 0%, rgb(255, 64, 247) 100%);
	border: none;
	box-shadow: inset 0 2.52px 11.42px 0 rgb(255, 255, 255, 80%);

	&:hover {
		border: none;
	}
}

.slice {
	position: relative;
	overflow: hidden;
	user-select: none;
	background-size: 300% 300%;
	transition: ease-out 0.1s;

	&::after {
		position: absolute;
		top: -50px;
		left: -90px;
		z-index: 0;
		width: 50px;
		height: 200px;
		content: "";
		background: var(--color-main-inverted);
		opacity: .35;
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		transform: rotate(35deg);

		@media (max-width: theme('screens.md')) {
			content: none;
		}
	}

	&:hover {
		transition: all .3s ease;

		img,
		svg {
			opacity: 1;
		}

		&::after {
			left: 120%;
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}

.layer {
	height: fit-content;
	padding: 0.313rem !important;
	font-weight: 400;
	background: rgb(var(--color-main-inverted-rgb), .025);
	transition: none;

	.layerInner {
		position: relative;
		display: flex;
		gap: 7px;
		align-items: center;
		justify-content: center;
		background: var(--bg-noise), rgb(var(--color-main-rgb), .25);
		border: 1px solid var(--color-border);
		border-radius: inherit;
		transition: all .2s ease;
	}

	&:hover {
		background: rgb(var(--color-main-inverted-rgb), .05);

		.layerInner {
			border: 1px solid var(--color-border-select);
		}
	}
}

.starlight {
	position: absolute;
	width: 75%;
	height: 8px;
	overflow: hidden;
	opacity: .5;
	mask-image: linear-gradient(to right, rgb(217, 217, 217, 0%) 0%, #d9d9d9 25%, #d9d9d9 75%, rgb(217, 217, 217, 0%) 100%);

	&::before {
		display: block;
		width: 100%;
		height: 1px;
		content: "";
		background: linear-gradient(to right, rgb(201, 177, 255, 0%), #c9b1ff, rgb(201, 177, 255, 0%));
		animation: 5s cubic-bezier(.6, .6, 0, 1) infinite;
	}

	&:nth-child(1) {
		top: -1px;
		right: 15px;

		&::before {
			animation-name: aiShowcaseStarlight1;
		}
	}

	&:nth-child(2) {
		bottom: -8px;
		left: 15px;

		&::before {
			animation-name: aiShowcaseStarlight2;
		}
	}
}

@keyframes aiShowcaseStarlight1 {
	0% {
		transform: translate(-100%);
	}

	50%,
	100% {
		transform: translate(100%);
	}
}

@keyframes aiShowcaseStarlight2 {
	0% {
		transform: translate(100%);
	}

	50%,
	100% {
		transform: translate(-100%);
	}
}

.glowing {
	--animation-speed: 4s;

	position: relative;
	display: inline-block;
	padding: 0 !important;
	overflow: hidden;
	isolation: isolate;
	border: none !important;

	.starsMask {
		mask: url('/images/icons/star-mask.svg');
		mask-repeat: repeat;
		mask-size: auto;
	}

	.animation,
	.border {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
	}

	.border {
		animation-name: borderTurnWithTranslate;
	}

	.glow {
		filter: blur(8px);
		opacity: .12;
	}

	.animation {
		pointer-events: none;
		transition: 1s ease opacity;

		.border,
		.glow,
		.stars {
			background-image: conic-gradient(from 0 at 50% 50%, rgb(255, 255, 255, 50%) 0deg, rgb(255, 255, 255, 0%) 60deg, rgb(255, 255, 255, 0%) 310deg, rgb(255, 255, 255, 50%) 360deg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			animation: borderTurnWithTranslate var(--animation-speed) infinite linear;
		}

		& .glow,
		.stars {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
		}

		.starsMask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.borderMask {
		position: absolute;
		inset: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 1px;
		pointer-events: none;
		content: "";
		border-radius: inherit;
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: xor;
		mask-composite: exclude;
		transition: 1s ease opacity;
	}

	.animation::before,
	.border::before {
		float: left;
		padding-top: 100%;
		content: "";
	}

	.animation::after,
	.border::after {
		display: block;
		clear: both;
		content: "";
	}
}

@keyframes borderTurnWithTranslate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.flat {
	color: rgb(var(--color-text), 1);
	background: rgb(var(--color-main-inverted-rgb), .02);
	border: 1px solid transparent;

	&:hover {
		border: 1px solid var(--color-border);
	}
}

.hero {
	color: #c885ff;
	background: linear-gradient(135.00deg, rgb(92, 66, 255, 15%) 0%, rgb(240, 66, 255, 15%) 100%);
	backdrop-filter: blur(16px);
	border: solid 1px #9442ffaf;
	box-shadow: inset -3px -4px 8px 0 rgb(255, 255, 255, 10%),
		0 2px 32px 0 rgb(176, 74, 255, 30%);

	&:hover {
		color: #caa9ff;
		border: solid 1px #9442ffaf;
		box-shadow: inset 0 0 6px #bf97ff70;
	}

	[class="light"] & {
		border: solid 1px #caa2ffaf;
		box-shadow: none;

		&:hover {
			color: #a369ff;
			border: solid 1px#af72ffaf;
			box-shadow: none;
		}
	}

	/* stylelint-disable-next-line no-descending-specificity */
	img,
	svg {
		opacity: 1;
		transition: all 0.2s ease;
	}
}

.squareItem {
	$border-radius: 0.75rem;

	position: absolute;
	padding: 1px;
	overflow: hidden;
	isolation: isolate;
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		pointer-events: none;
		content: "";
		border: 1px solid rgb(226, 232, 255, 80%);
		border-radius: inherit;
	}

	&:nth-child(1) {
		z-index: 2;
		width: calc(100% + 8px);
		height: calc(100% + 8px);
		border-radius: calc($border-radius + 0.25rem);

		&::before {
			opacity: .3;
		}
	}

	&:nth-child(2) {
		z-index: 1;
		width: calc(100% + 16px);
		height: calc(100% + 16px);
		border-radius: calc($border-radius + 0.5rem);

		&::before {
			opacity: .2;
		}
	}

	&:nth-child(3) {
		width: calc(100% + 24px);
		height: calc(100% + 24px);
		border-radius: calc($border-radius + 0.75rem);

		&::before {
			opacity: .1;
		}
	}

	div {
		position: absolute;
		top: -25%;
		left: -25%;
		width: 150%;
		height: 150%;
		background: conic-gradient(transparent 0%, #fff 15%, transparent 15%);
		opacity: .3;
		animation: squareFramesRotate 10s linear infinite;

		@media (max-width: theme('screens.md')) {
			display: none;
		}
	}
}

@keyframes squareFramesRotate {
	100% {
		transform: rotate(1turn);
	}
}


// Others
.disabled {
	cursor: not-allowed;
	border: 1px solid transparent;
	opacity: .5;
}

.hoverColor {
	&.default:not(.layer) {

		&.selected {
			background: rgba(var(--color-main-inverted-rgb), .05);
			border: 1px solid rgba(var(--color-main-inverted-rgb), .3);
		}

		&:hover {
			color: rgba(var(--hover-color-rgb), 1);
			background: rgba(var(--hover-color-rgb), .1);
			border: 1px solid rgba(var(--hover-color-rgb), 1);
		}
	}

	&.button:not(.layer) {

		&.selected {
			color: rgba(var(--color-main-inverted-rgb), .9);
		}

		&:hover,
		&[data-selected="true"] {
			color: rgba(var(--hover-color-rgb), 1);

			// svg *[fill] {
			// 	fill: rgba(var(--hover-color-rgb), 1);
			// }

			svg *[stroke] {
				stroke: rgba(var(--hover-color-rgb), 1);
			}
		}
	}

	&.layer {

		&:hover,
		&.selected {
			// color: rgba(var(--hover-color-rgb), 1);
			// background: rgb(var(--hover-color-rgb), .1);
			// border: 1px solid rgba(var(--hover-color-rgb), .25);

			.layerInner {
				background: var(--bg-noise), rgb(var(--hover-color-rgb), .1);
				border: 1px solid rgba(var(--hover-color-rgb), 1);
			}
		}
	}
}