.Button {
	cursor: pointer;
	padding: 6px 16px;
	border-radius: 15px;
	gap: 10px;

	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--border-color);
	background: none;
	color: rgba(var(--text-color), .3);
	transition: all 0.2s ease;

	&:hover {
		color: rgba(var(--text-color), 1);
	}
}

.slice {
	overflow: hidden;
	position: relative;
	user-select: none;
	transition: ease-out 0.1s;
	background-size: 300% 300%;

	&:hover {
		&:after {
			left: 120%;
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	&:after {
		background: var(--inverted-main-color);
		content: "";
		height: 200px;
		left: -90px;
		opacity: .35;
		position: absolute;
		top: -50px;
		transform: rotate(35deg);
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
		z-index: 0;

		// @include mediaMax($tablet) {
		// 	content: none;
		// }
	}
}



.withAddon {
	padding: 0 16px;
}

.addonLeft,
.addonRight {
	display: flex;
}

.addonRight svg,
.addonLeft svg {
	color: var(--hint-redesigned);
}


.clear {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

.filled {
	background: var(--light-bg-redesigned);
	border: none;
	outline: none;
	border-radius: 34px;
}

.outline {
	background: none;
	border-radius: 34px;

	&:hover {
		border: 2px solid var(--accent-redesigned);
	}

	&.normal {
		border: 2px solid var(--icon-redesigned);
	}

	&.error {
		border: 2px solid var(--cancel-redesigned);
	}

	&.success {
		border: 2px solid var(--save-redesigned);
	}
}

.square {
	padding: 0;
}

.square.m {
	width: var(--font-line-m);
	height: var(--font-line-m);
}

.square.l {
	width: var(--font-line-l);
	height: var(--font-line-l);
}

.square.xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
}

.m {
	font: var(--font-m-redesigned);
}

.l {
	font: var(--font-l-redesigned);
}

.xl {
	font: var(--font-xl-redesigned);
}

.disabled {
	opacity: 0.5;
}

.fullWidth {
	width: 100%;
}