@import "@/app/styles/variables/var";

.Button {
	cursor: pointer;
	padding: 6px 16px;
	gap: 5px;
	position: relative;

	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--border-color);
	background: none;
	color: rgba(var(--text-color), .5);
	transition: all 0.1s ease;
	outline: none;

	&::before,
	img {
		transition: all 0.1s ease;
		opacity: .5;
	}

	&:hover {

		&::before,
		img {
			opacity: 1;
		}

		color: rgba(var(--text-color), 1);
	}
}


// Variants
.slice {
	overflow: hidden;
	position: relative;
	user-select: none;
	transition: ease-out 0.1s;
	background-size: 300% 300%;
	border: 1px solid transparent;

	color: rgba(var(--inverted-main-color-rgb), .2);
	font-weight: 200;
	font-size: var(--font-size-large);

	&:hover {
		border: 1px solid var(--border-color);
		transition: all .3s ease;

		img,
		svg {
			opacity: 1;
		}
	}

	&:hover {
		&:after {
			left: 120%;
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	&:after {
		background: var(--inverted-main-color);
		content: "";
		height: 200px;
		left: -90px;
		opacity: .35;
		position: absolute;
		top: -50px;
		transform: rotate(35deg);
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
		z-index: 0;

		@media (max-width: $display-tablet) {
			content: none;
		}
	}
}

.layer {
	background: rgba(var(--inverted-main-color-rgb), .05);
	padding: 5px !important;

	.layerInner {
		padding: 20px 40px;
		background: var(--bg-noise), rgba(var(--main-color-rgb), .4);
	}
}

.default {
	padding: 7px 15px;
	background: var(--bg-noise), rgba(var(--main-color-rgb), .2);
	border: var(--border-color) 1px solid;
}

.clear {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}


// Others
.disabled {
	opacity: 0.5;
}

.fullWidth {
	width: 100%;
}


// Border radius
.radius-full {
	border-radius: 9999px;
}

.radius-large {
	border-radius: var(--radius-large);
}

.radius-medium {
	border-radius: var(--radius-medium);
}

.radius-small {
	border-radius: var(--radius-small);
}

.radius-tiny {
	border-radius: var(--radius-tiny);
}

.radius-none {
	border-radius: 0;
}


// Paddings
.padding-large {
	padding: var(--padding-large);
}

.padding-medium {
	padding: var(--padding-medium);
}

.padding-small {
	padding: var(--padding-small);
}

.padding-none {
	padding: 0;
}