@import "@/app/styles/variables/var";

.Button {
	cursor: pointer;
	gap: 5px;
	position: relative;
	overflow: hidden;
	width: fit-content;
	white-space: nowrap;

	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--color-border);
	background: none;
	// background: var(--bg-noise), rgba(var(--color-main-rgb), .2);


	color: rgba(var(--color-text), .5);
	transition: all .2s ease;
	outline: none;

	&:active {
		transform: scale(0.97);
	}

	&::before,
	img {
		transition: all 0.2s ease;
		opacity: .5;
	}

	&:hover {
		border: 1px solid var(--color-border-select);

		&::before,
		img {
			opacity: 1;
		}

		color: rgba(var(--color-text), 1);
	}
}



// Variants
.slice {
	overflow: hidden;
	position: relative;
	user-select: none;
	transition: ease-out 0.1s;
	background-size: 300% 300%;

	&:hover {
		transition: all .3s ease;

		img,
		svg {
			opacity: 1;
		}

		&:after {
			left: 120%;
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	&:after {
		background: var(--color-main-inverted);
		content: "";
		height: 200px;
		left: -90px;
		opacity: .35;
		position: absolute;
		top: -50px;
		transform: rotate(35deg);
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
		z-index: 0;

		@media (max-width: $display-tablet) {
			content: none;
		}
	}
}

.layer {
	background: rgba(var(--color-main-inverted-rgb), .025);
	padding: 5px !important;
	font-weight: 400;

	&:hover {
		background: rgba(var(--color-main-inverted-rgb), .05);

		.layerInner {
			border: 1px solid var(--color-border-select);
		}
	}

	.layerInner {
		border: 1px solid var(--color-border);
		background: var(--bg-noise), rgba(var(--color-main-rgb), .25);
		align-items: center;
		display: flex;
		gap: 7px;
	}

	.Starlight {
		height: 8px;
		-webkit-mask-image: linear-gradient(to right, rgba(217, 217, 217, 0) 0%, #d9d9d9 25%, #d9d9d9 75%, rgba(217, 217, 217, 0) 100%);
		mask-image: linear-gradient(to right, rgba(217, 217, 217, 0) 0%, #d9d9d9 25%, #d9d9d9 75%, rgba(217, 217, 217, 0) 100%);
		opacity: .5;
		position: absolute;
		width: 180px;

		&:nth-child(1) {
			right: 15px;
			top: 5px;

			&::before {
				animation-name: aiShowcaseStarlight1;
			}
		}

		&:nth-child(2) {
			bottom: -2px;
			left: 15px;

			&::before {
				animation-name: aiShowcaseStarlight2;
			}
		}

		&::before {
			animation: 5s cubic-bezier(.6, .6, 0, 1) infinite;
			background: linear-gradient(to right, rgba(201, 177, 255, 0), #c9b1ff, rgba(201, 177, 255, 0));
			content: "";
			display: block;
			height: 1px;
			width: 100%;
		}
	}
}

@keyframes aiShowcaseStarlight1 {
	0% {
		transform: translate(-100%);
	}

	50%,
	100% {
		transform: translate(100%);
	}
}

@keyframes aiShowcaseStarlight2 {
	0% {
		transform: translate(100%);
	}

	50%,
	100% {
		transform: translate(-100%);
	}
}

.Glowing {
	--animation-speed: 4s;

	padding: 0 !important;
	border: none !important;

	isolation: isolate;
	overflow: hidden;
	display: inline-block;
	position: relative;

	.Animation {
		pointer-events: none;
		transition: 1s ease opacity;

		// & * {
		// 	height: 100%;
		// 	left: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	width: 100%;
		// }

		& .Glow,
		.Stars {
			height: 100%;
			left: 50%;
			position: absolute;
			top: 50%;
			width: 100%;
		}

		.StarsMask {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	.BorderMask {
		content: "";
		height: 100%;
		inset: 0;
		left: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: 1s ease opacity;
		width: 100%;
	}

	.Border {
		animation-name: borderTurnWithTranslate;
	}

	.Animation,
	.Border {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.Animation::before,
	.Border::before {
		content: "";
		float: left;
		padding-top: 100%;
	}

	.Animation::after,
	.Border::after {
		clear: both;
		content: "";
		display: block;
	}

	.Border,
	.Glow,
	.Stars {
		animation: borderTurnWithTranslate var(--animation-speed) infinite linear;
		background-image: conic-gradient(from 0 at 50% 50%, rgba(255, 255, 255, .5) 0deg, rgba(255, 255, 255, 0) 60deg, rgba(255, 255, 255, 0) 310deg, rgba(255, 255, 255, .5) 360deg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.Glow {
		filter: blur(8px);
		opacity: .12;
	}

	.StarsMask {
		mask: url('/images/icons/star-mask.svg');
		mask-repeat: repeat;
		mask-size: auto;
	}
}

@keyframes borderTurnWithTranslate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.flat {
	border: 1px solid transparent;
	background: rgba(var(--color-main-inverted-rgb), .02);
	color: rgba(var(--color-text), 1);

	&:hover {
		border: 1px solid var(--color-border);
	}
}

.hero {
	box-shadow: inset -3px -4px 8px 0px rgba(255, 255, 255, 0.1),
		0px 2px 32px 0px rgba(176, 74, 255, 0.3);
	backdrop-filter: blur(16px);
	background: linear-gradient(135.00deg, rgba(92, 66, 255, 0.15) 0%, rgba(240, 66, 255, 0.15) 100%);
	border: solid 1px #9442ffaf;
	// color: #c885ff;

	&:active {
		transform: scale(0.98);
	}

	img {
		transition: all 0.2s ease;
		opacity: 1;
	}
}

.SquareItem {
	$border-radius: 12px;

	position: absolute;
	isolation: isolate;
	overflow: hidden;
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	padding: 1px;

	&::before {
		border: 1px solid rgba(226, 232, 255, .8);
		content: "";
		left: 0;
		top: 0;
		position: absolute;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		border-radius: inherit;
		pointer-events: none;
	}

	&:nth-child(2) {
		width: calc(100% + 8px);
		height: calc(100% + 8px);
		border-radius: calc($border-radius + 4px);
		z-index: 2;

		&::before {
			opacity: .3;
		}
	}

	&:nth-child(3) {
		width: calc(100% + 16px);
		height: calc(100% + 16px);
		border-radius: calc($border-radius + 8px);
		z-index: 1;

		&::before {
			opacity: .2;
		}
	}

	&:nth-child(4) {
		width: calc(100% + 24px);
		height: calc(100% + 24px);
		border-radius: calc($border-radius + 12px);

		&::before {
			opacity: .1;
		}
	}

	div {
		width: 150%;
		height: 150%;
		position: absolute;
		top: -25%;
		left: -25%;
		opacity: .3;
		background: conic-gradient(transparent 0%, #fff 15%, transparent 15%);
		animation: square-frames-rotate 10s linear infinite;
	}
}

@keyframes square-frames-rotate {
	100% {
		transform: rotate(1turn);
	}
}


// Others
.disabled {
	opacity: .5;
	cursor: not-allowed;

	// &:active {
	// 	transform: none;
	// }
}

.fullWidth {
	width: 100% !important;
}


// Border radius
.radius-full {
	border-radius: 9999px;
}

.radius-lg {
	border-radius: var(--radius-lg);
}

.radius-md {
	border-radius: var(--radius-md);
}

.radius-sm {
	border-radius: var(--radius-sm);
}

.radius-xs {
	border-radius: var(--radius-xs);
}

.radius-none {
	border-radius: 0;
}


// Paddings
.padding-lg {
	padding: var(--padding-lg);
}

.padding-md {
	padding: var(--padding-md);
}

.padding-sm {
	padding: var(--padding-sm);
}

.padding-none {
	padding: 0;
}


// Font size
.fontSize-xs {
	font-size: var(--font-size-xs);
}

.fontSize-sm {
	font-size: var(--font-size-sm);
}

.fontSize-md {
	font-size: var(--font-size-md);
}

.fontSize-lg {
	font-size: var(--font-size-lg);
}