.avatar {
	$size: 42px;

	width: $size;
	height: $size;
	cursor: pointer;
	background-color: var(--color-default);
	border-radius: 9999px;

	// transition: all .3s ease;

	// overflow: hidden;

	img {
		width: $size;
		height: $size;
		border-radius: inherit;
	}
}

.border {
	box-shadow: 0 0 0 2px rgb(var(--color-main-rgb), 1), 0 0 0 4px var(--color-default);

	&:hover {
		box-shadow: 0 0 0 2px rgb(var(--color-main-rgb), 1), 0 0 0 4px var(--color-primary);
	}
}

.disabled {
	opacity: .5;
}