$z-index-card: 1;

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: flex-end;
	min-width: 304px;
	height: 200px;
	padding: 20px;
	overflow: hidden;
	color: white;
	cursor: pointer;
	border: 1px solid var(--color-border);

	@apply rounded-md;

	&>img {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: calc($z-index-card - 2);
		width: 100%;
		border-radius: inherit;
		transition: all .3s ease;
		transform: translateY(-50%);
	}

	&:hover {
		&>img {
			transform: scale(1.05) translateY(-50%);
		}
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: calc($z-index-card - 1);
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(0.00deg, rgb(3, 2, 13, 50%) 11.458%, rgb(3, 2, 13, 1%) 60.938%);
	}
}

.title {
	z-index: calc($z-index-card + 1);
	display: -webkit-box;
	overflow: hidden;
	font-weight: 500;

	@apply text-sm;

	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info {
	&>* {
		@apply text-xs;
	}
}

.info,
.price {
	display: flex;
	gap: 5px;
	padding: 0 7px;
	background: rgb(var(--color-main-rgb), .05);
	backdrop-filter: var(--blur-sm);

	@apply rounded-md;
}

.price {
	align-items: baseline;
	font-weight: 700;

	@apply text-base;
}

.oldPrice {
	font-weight: 500;
	text-decoration: line-through;
	opacity: .5;

	@apply text-xs;
}

.rating,
.hot,
.review {
	display: flex;
	gap: 5px;
	align-items: center;
}