.backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--z-index-bg-images);
	width: 1320px;
	height: auto;
}

.backgroundWrapper {
	position: relative;
	padding: 200px 158px 0;

	&::before {
		position: absolute;
		top: 0;
		right: 382px;
		z-index: calc(var(--z-index-blackhole) - 1);
		width: 1px;
		height: 148px;
		content: "";
		background-image: linear-gradient(to top, transparent, var(--color-main));
	}
}

.icon {
	width: 64px;
	height: 64px;

	img {
		opacity: 1 !important;
	}
}

.heading {
	margin-top: 40px;

	h2 {
		font-weight: 700;

		@apply text-4xl;
	}

	p {
		opacity: .5;
	}
}

.cardRotateWrapper {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
	padding-top: 95px;

	&>*:nth-child(1),
	&>*:nth-child(3) {
		transition: transform .2s ease;
		transform: scale(.85);

		&:hover {
			transform: scale(1);
		}
	}
}

.line {
	position: absolute;
	top: 0;
	z-index: calc(var(--z-index-blackhole) - 2);
	border-right: 1px solid rgb(226 232 255 / 10%);
	border-bottom: 1px solid rgb(226 232 255 / 10%);
	border-bottom-right-radius: 12px;

	&:nth-child(1) {
		left: 246px;
		width: 300px;
		height: 228px;
	}

	&:nth-child(2) {
		left: 554px;
		width: 220px;
		height: 164px;
	}

	&::before {
		bottom: -4px;
		width: 12px;
		height: 12px;
		background: var(--color-main);
	}

	&::after {
		bottom: -2.5px;
		z-index: 2;
		width: 4px;
		height: 4px;
		background: #202039;
	}

	&::before,
	&::after {
		position: absolute;
		left: 50%;
		content: "";
		border-radius: 50%;
		transform: translate(-50%);
	}
}

.lineMask {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 1px);
	height: calc(100% + 1px);
	padding: 0 1px 1px 0;
	border-radius: inherit;
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;

	div {
		position: absolute;
		bottom: -100px;
		left: -100px;
		width: 500px;
		height: 500px;
		background: conic-gradient(rgb(109 46 255 / 0%), rgb(158 122 255 / 30%) 6%, rgb(144 124 255 / 70%) 10%, var(--color-primary) 14.9%, rgb(109 46 255 / 0%) 15%);
		animation: buildLineRotate 15s linear infinite;
	}
}

@keyframes buildLineRotate {

	60%,
	100% {
		transform: translateZ(0) rotate(1turn);
	}
}