.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 80px;
	align-items: center;
	margin-top: 145px;
	margin-bottom: 60px;
}

.icon {
	width: 5rem;
	height: 5rem;
	margin-bottom: -20px;
}

.heading {
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: center;

	h3 {
		@apply text-5xl;
		@apply font-bold;

		@media (max-width: theme('screens.sm')) {
			@apply text-2xl;
		}
	}

	p {
		color: rgba(var(--color-text), .5);
	}
}

.image {
	position: absolute;
	top: -10px;
	z-index: -1;
	mix-blend-mode: lighten;

	@media (max-width: theme('screens.sm')) {
		top: 20px;
	}

	img {
		width: 820px;
		max-height: 700px;
		object-fit: cover;
		object-position: top;

		@media (max-width: theme('screens.sm')) {
			overflow: visible;
		}
	}
}