.Light {
	overflow: hidden;
}

.Ellipse1,
.Ellipse2,
.Ellipse3 {
	z-index: var(--z-index-light);
	transition: all 1s ease;
}

.Ellipse1 {
	position: absolute;
	width: 45.36vw;
	height: 80.65vh;
	left: -22.66vw;
	top: 3.61vh;

	filter: var(--light-blur-ellipse-1);
	background: var(--light-color-ellipse-1);
}

.Ellipse2 {
	position: absolute;
	width: 38.13vw;
	height: 67.78vh;
	right: 0;
	top: 46.30vh;

	filter: var(--light-blur-ellipse-2);
	background: var(--light-color-ellipse-2);
}

.Ellipse3 {
	position: absolute;
	width: 25.10vw;
	height: 44.63vh;
	left: 15.47vw;
	top: -17.69vh;

	filter: var(--light-blur-ellipse-3);
	background: var(--light-color-ellipse-3);
}