.wrapper {
	position: relative;
	padding: 200px 158px 0;

	@media (max-width: theme('screens.sm')) {
		padding: 100px 30px 0;
	}
}

.backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--z-index-bg-images);
	width: 1320px;
	height: auto;

	@media (max-width: theme('screens.lg')) {
		display: none;
	}
}

.image {
	position: absolute;
	top: 310px;
	left: 50%;
	z-index: calc(var(--z-index-bg-images) - 1);
	object-fit: cover;
	mix-blend-mode: lighten;
	transform: translateX(-50%);

	@media (max-width: theme('screens.sm')) {
		top: 460px;
	}

	img {
		height: 900px;
		overflow: visible;
		object-fit: cover;
	}
}

.icon {
	width: 4rem;
	height: 4rem;

	img {
		opacity: 1 !important;
	}
}

.heading {
	margin-top: 40px;

	@media (max-width: theme('screens.sm')) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	h2 {
		font-weight: 700;

		@apply text-4xl;
	}

	p {
		opacity: .5;
	}
}

.cardRotateWrapper {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
	padding-top: 95px;

	@media (max-width: theme('screens.md')) {
		flex-direction: column;
		gap: 25px;
		padding-top: 40px;
	}

	&>*:nth-child(1),
	&>*:nth-child(3) {
		transition: transform .2s ease;
		transform: scale(.85);

		&:hover {
			transform: scale(1);
		}
	}
}

.line {
	position: absolute;
	top: 0;
	z-index: calc(var(--z-index-blackhole) - 2);
	border-right: 1px solid rgb(var(--color-main-inverted-rgb), 10%);
	border-bottom: 1px solid rgb(var(--color-main-inverted-rgb), 10%);
	border-bottom-right-radius: 12px;

	&:nth-child(1) {
		left: 246px;
		width: 300px;
		height: 228px;

		@media (max-width: theme('screens.md')) {
			left: 116px;
			width: 23%;
			height: 130px;
		}
	}

	&:nth-child(2) {
		left: 550px;
		width: 220px;
		height: 160px;

		@media (max-width: theme('screens.md')) {
			left: 200px;
			width: 17%;
			height: 215px;
		}
	}

	&::before {
		bottom: -7px;
		z-index: 1;
		width: 12px;
		height: 12px;
		background: var(--color-background);
	}

	&::after {
		bottom: -2.5px;
		z-index: 2;
		width: 4px;
		height: 4px;
		background: rgba(var(--color-main-inverted-rgb), .1);
	}

	&::before,
	&::after {
		position: absolute;
		left: 50%;
		content: "";
		border-radius: 50%;
		transform: translate(-50%);
	}
}

.lineMask {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 1px);
	height: calc(100% + 1px);
	padding: 0 1px 1px 0;
	overflow: hidden;
	border-radius: inherit;
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;

	div {
		position: absolute;
		bottom: -100px;
		left: -100px;
		width: 500px;
		height: 500px;
		background: conic-gradient(rgb(109, 46, 255, 0%), rgb(158, 122, 255, 30%) 6%, rgb(144, 124, 255, 70%) 10%, #B336FF 14.9%, rgb(109, 46, 255, 0%) 15%);
		animation: buildLineRotate 15s linear infinite;

		@media (max-width: theme('screens.sm')) {
			left: -290px;
		}
	}
}

@keyframes buildLineRotate {

	60%,
	100% {
		transform: translateZ(0) rotate(1turn);
	}
}