.navbar {
	position: fixed;
	z-index: var(--z-index-navbar);
	width: 100%;
	height: var(--navbar-height);
	background: var(--bg-noise), rgba(var(--color-main-rgb), 0.5);
	backdrop-filter: var(--blur-xl);
	border-bottom: 1px solid var(--color-border);
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.spacer {
	position: relative;
	height: var(--navbar-height);
}

.left {
	display: flex;
	flex: 1;
	gap: 40px;
	align-items: center;
	justify-content: left;
}

.center {
	display: flex;
	flex: 0 0 auto;
	gap: 20px;
	align-items: center;
	justify-content: center;
	height: 100%;

	li {
		height: 100%;
	}

	a {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 15px;
	}
}

.right {
	display: flex;
	flex: 1;
	gap: 25px;
	align-items: center;
	justify-content: right;
}

.logo {
	&>div {
		transition: transform .3s ease;

		&:active {
			transform: scale(0.95);
		}
	}

}

.selected {
	color: var(--color-main-inverted);
}

.controlButtons {
	$opacity-buttons: .2;

	display: flex;

	button {
		width: 40px;
		height: 40px;
		padding: 0;
		color: rgba(var(--color-text), .2);
		border: 1px solid transparent;

		@apply rounded-large;

		&:hover {
			border: 1px solid var(--color-border);
		}
	}

	img,
	svg {
		min-width: 24px;
		height: 24px;
		opacity: $opacity-buttons;
		transition: all .3s ease;
	}

	svg *[stroke] {
		stroke: var(--color-main-inverted);
	}
}

.leftWrapper {
	display: inherit;
	gap: 15px;
	align-items: inherit;

	input {
		background: none;
	}
}

.dropdown {
	width: 240px;
	background: var(--bg-noise), var(--color-background);
	border: 1px solid var(--color-border);
}


.input {
	max-width: 155px;
	transition: all .3s ease;

	input {
		color: rgb(255, 255, 255, 50%);
	}

	img {
		opacity: .5;
		transition: opacity .3s ease;
	}

	[data-focus="true"] {
		// max-width: 185px !important;
		background: rgb(var(--color-main-inverted-rgb), .1) !important;

		img {
			opacity: 1;
		}
	}

	[data-slot="input-wrapper"] {
		background: rgb(var(--color-main-inverted-rgb), .05);

		&:hover {
			background: rgb(var(--color-main-inverted-rgb), .1);
		}
	}
}

.spinner {
	i {
		border-bottom-color: var(--color-main-inverted);
	}
}

.tooltip {
	background: var(--bg-noise), var(--color-background);
	border: 1px solid var(--color-border);
}