@import '@/app/styles/utils';

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.hidden {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	line-height: 0;
	opacity: 0;
}

.button {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transition: all .2s ease;
	transform: translate(-50%, -50%) !important;
}

.image {
	position: relative;
	width: 96px;
	height: 96px;
	overflow: hidden;
	border: 2px solid var(--color-border);
	border-radius: 1rem;

	@apply text-sm bg-zinc-800;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .2s ease;
	}

	&:hover {
		img {
			opacity: .5;
		}

		.button {
			opacity: 1;
		}
	}
}

.images {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}