:root {
	--color-background: #030014;
	--color-background-dots: #2e3135;
	--color-main: #03020D;
	--color-main-rgb: 3, 2, 13;
	--color-main-inverted: #FFF;
	--color-main-inverted-rgb: 255, 255, 255;
	--color-border: rgba(255, 255, 255, 10%);
	--color-border-select: rgb(255, 255, 255, 15%);
	--color-border-active: rgb(255, 255, 255, 20%);
	--color-text: 255, 255, 255;

	// * Light ellipse
	--light-color-ellipse-1: rgb(90, 186, 255, 25%);
	--light-blur-ellipse-1: blur(400px);
	--light-color-ellipse-2: rgb(255, 90, 209, 5%);
	--light-blur-ellipse-2: blur(600px);
	--light-color-ellipse-3: rgb(255, 90, 209, 5%);
	--light-blur-ellipse-3: blur(400px);
}