.app_dark_theme {
	--bg-color: #03020D;
	--inverted-bg-color: #EDEEF0;
	--primary-color: #B336FF;
	--inverted-primary-color: #30004e;
	--secondary-color: #346DFF;
	--inverted-secondary-color: #001e6b;
}