.app_light_theme {
	--bg-color: #fafafa;
	--bg-dots: #cacaca;
	--main-color: #FFFFFF;
	--inverted-main-color: #03020D;
	--primary-color: #30004e;
	--inverted-primary-color: #B336FF;
	--secondary-color: #001e6b;
	--inverted-secondary-color: #346DFF;

	--border-color: rgba(0, 0, 0, .1);

	// text
	--text-opacity-color: rgba(0, 0, 0, .5);
	--text-opacity-3-color: rgba(0, 0, 0, .3);
	--text-color: rgba(0, 0, 0, 1);
}