:root {
	--bg-color: #03020D;
	--bg-dots: #2e3135;
	--main-color: #03020D;
	--inverted-main-color: #FFFFFF;
	--primary-color: #B336FF;
	--inverted-primary-color: #30004e;
	--secondary-color: #346DFF;
	--inverted-secondary-color: #001e6b;

	--border-color: rgba(255, 255, 255, .1);

	// text
	--text-opacity-color: rgba(255, 255, 255, .5);
	--text-opacity-3-color: rgba(255, 255, 255, .3);
	--text-color: rgba(255, 255, 255, 1);
}