@import '@/app/styles/utils';

.wrapper {
	position: fixed;
	top: auto;
	bottom: 30px;
	left: 25px;
	left: 50%;
	z-index: var(--z-index-navbar-admin);
	display: flex;
	flex-direction: row;
	gap: .25rem;
	align-items: center;
	justify-content: center;
	padding: .25rem;
	backdrop-filter: var(--blur-xl);
	border: 1px solid var(--color-border);
	border-radius: .625rem;
	transform: translateX(-50%);

	@include background(1);

	@media (max-width: theme('screens.sm')) {
		top: calc(var(--navbar-height-search-mobile) + 10px);
		bottom: auto;
	}
}


.item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	color: rgba(var(--color-text), 1);
	border-radius: .5rem;
	transition: all .2s ease;

	&:hover {
		background: rgba(var(--color-main-inverted-rgb), .25);
	}

	&.active {
		border: 2px solid theme('backgroundColor.primary-400');

		@apply bg-primary-100;

		&:hover {
			@apply bg-primary-200;
		}
	}
}