.pageLoader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: var(--height-screen);

	p {
		position: absolute;
		left: 50%;
		color: rgba(var(--color-text), 1);
		transform: translate(-50%);

		@apply text-base;
	}
}

.loader {
	position: relative;
	width: fit-content;
	height: fit-content;
}


.spinner {
	$spinner-size: 78px;

	position: absolute;
	bottom: calc(50% - $spinner-size / 2);
	left: calc(50% - $spinner-size / 2);
	z-index: -1;
	box-sizing: border-box;
	display: inline-block;
	width: $spinner-size;
	height: $spinner-size;
	border: 6px solid var(--color-main-inverted);
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}