@import '@/app/styles/utils';

.wrapper {
	position: static;
}

.notFound {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	width: fit-content;

	@media (max-width: theme('screens.md')) {
		width: 100%;
	}

	a {
		width: min-content;
	}
}

.recommended {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 150px;

	h3 {
		@apply text-xl font-semibold;
	}
}

.stats {
	user-select: none;

	@apply text-sm;

	h6 {
		@apply text-base;
	}
}