@import '/src/app/styles/utils';

.wrapper {
	position: relative;
	max-width: 100%;
	margin-top: 70px;

	@media (max-width: theme('screens.sm')) {
		margin: 70px 0 0;
	}
}

.video {
	position: absolute;
	top: 500px;
	z-index: -10;
	width: 100%;
	height: 880px;
	margin: auto;
	object-fit: cover;
	mix-blend-mode: lighten;
	transform: translateY(-50%);

	@media (max-width: theme('screens.sm')) {
		display: none;
	}

	// @media (max-width: theme('screens.md')) {
	// 	width: 100%;
	// }

	// @media (max-width: theme('screens.sm')) {
	// 	display: none;
	// }
}

.reviews {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
	overflow: hidden;

	&::before,
	&::after {
		position: absolute;
		left: 0;
		z-index: 10;
		width: 100px;
		height: 100%;
		pointer-events: none;
		content: '';
		background: linear-gradient(90deg, var(--color-background) 22.555%, rgba(3, 2, 13, 0%) 100%);

		@media (max-width: theme('screens.sm')) {
			content: none;
		}
	}

	&::after {
		right: 0;
		left: auto;
		transform: rotate(180deg);
	}
}

.review {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 30px;
	cursor: default;
	backdrop-filter: var(--blur-md);
	border: 1px solid var(--color-border);
	transition: all .3s ease;

	@apply rounded-lg;
	@include background(.4);

	@media (max-width: theme('screens.sm')) {
		@include background(1);
	}

	&:hover {
		border: 1px solid var(--color-border-select);
		transform: scale(1.025)
	}
}

.reviewRow1,
.reviewRow2 {
	display: flex;
	gap: 30px;
	width: 100%;
	padding: 15px;
}

.reviewRow1 {
	& .review {
		left: -30px;

		@media (max-width: theme('screens.sm')) {
			left: auto;
		}
	}
}

.reviewRow2 {
	& .review {
		left: 30px;

		@media (max-width: theme('screens.sm')) {
			left: auto;
		}
	}
}

.reviewHead {
	display: flex;
	justify-content: space-between;
}

.text {
	opacity: .8;
}