.Content {
	margin-top: -100px;
}

.NavigationPanel {
	background: var(--bg-noise), rgba(var(--color-main-rgb), .1);
	border-radius: var(--radius-md);
	width: 100%;
	padding: 15px 20px;
	border: 1px solid var(--color-border);
	display: flex;
	gap: 15px;
	backdrop-filter: var(--blur-md);

	a {
		width: 100%;
	}
}

.Item {
	display: flex;
	gap: 5px;
}

.Button {
	flex-direction: column;

	&>p {
		opacity: .5;
		font-size: var(--font-size-sm);
	}

	img {
		transition: all 0.2s ease;
		opacity: 1;
	}
}

.Selected {
	.Button {
		border: 1px solid var(--color-border);
		background: rgba(var(--color-main-inverted-rgb), .05);
	}
}