.wrapper {
	margin-top: -100px;
}

.button {
	flex-direction: column;

	&>p {
		opacity: .5;

		@apply text-sm;
	}

	img {
		opacity: 1;
		transition: all 0.2s ease;
	}
}

.panel {
	display: flex;
	gap: 15px;
	width: 100%;
	padding: 15px 20px;
	background: var(--bg-noise), rgb(var(--color-main-rgb), .1);
	backdrop-filter: var(--blur-md);
	border: 1px solid var(--color-border);

	@apply rounded-xl;

	@media (max-width: theme('screens.sm')) {
		flex-direction: column;
	}

	a {
		width: 100%;
	}

	button {
		width: 100% !important;
		border: 1px solid transparent;

		img {
			opacity: .5;
		}
	}
}

.item {
	display: flex;
	gap: 5px;
}

.selected {
	.button {
		background: rgb(var(--color-main-inverted-rgb), .025);
	}
}