@import '@/app/styles/utils';

.navigationPanel {
	margin-top: -200px !important;
}

.wrapper {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 30px;
	margin-top: 80px;

	@media (max-width: theme('screens.lg')) {
		grid-template-columns: 250px 1fr;
	}

	@media (max-width: theme('screens.md')) {
		grid-template-columns: 1fr;
	}
}

.sortWrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	height: fit-content;
}

.sort {
	@include background(.2);
	@apply rounded-lg;
	@apply text-sm;

	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px 20px;
	font-weight: 600;
	backdrop-filter: var(--blur-xs);
	border: 1px solid var(--color-border);

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&Column {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&>* {
			width: 100%;
			font-weight: 300;
		}

		@media (max-width: theme('screens.md')) {
			flex-flow: row wrap;
			justify-content: center;
		}
	}

	&Row {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;

		&>* {
			flex-grow: 1;
			width: calc(50% - 5px);
			font-weight: 300;
		}
	}

	&Column,
	&Row {
		@media (max-width: theme('screens.md')) {
			&>* {
				flex-grow: 1;
				width: calc(33% - 5px * 1.5);
			}
		}

		@media (max-width: theme('screens.sm')) {
			&>* {
				width: calc(50% - 5px);
			}
		}
	}
}

.block {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	gap: 20px;

	@media (max-width: theme('screens.lg')) {
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	}

	@media (max-width: theme('screens.sm')) {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
}

.ai {
	display: flex;
	gap: 10px;

	@media (max-width: theme('screens.sm')) {
		flex-direction: column;

		button>*,
		button {
			width: 100%;
		}
	}
}

.priceInput {
	display: flex;
	gap: 20%;
	justify-content: space-between;

	[data-slot="input-wrapper"] {
		background: none;
		border: 1px solid var(--color-border);

		@apply rounded-lg;
	}
}

.textarea {
	width: 100%;
	transition: all .3s ease;

	input {
		color: rgb(255, 255, 255, 50%);
		background: none;
	}

	[data-focus="true"] {
		background: rgba(var(--color-main-inverted-rgb), .05) !important;
	}

	[data-slot="input-wrapper"] {
		@include background(.05, false);
		@apply rounded-lg;

		height: 100% !important;
		backdrop-filter: var(--blur-xs);
		border: 1px solid var(--color-border);
		transition: all .6s ease;

		&:hover {
			background: rgba(var(--color-main-inverted-rgb), .05);
		}
	}
}