@import '@/app/styles/utils';

.wrapper {
	margin-top: 50px;
}

.product {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.heading {
	display: flex;
	gap: 10px;
	align-items: center;

	h1 {
		@apply text-2xl;
		@apply font-semibold;
	}
}

.productWrapper {
	display: flex;
	gap: 50px;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 100px;

	h3 {
		@apply text-xl;
		@apply font-semibold;
	}
}

.linksAndCharacteristics {
	display: flex;
	gap: 50px;
	width: 100%;

	@media (max-width: theme('screens.xl')) {
		flex-direction: column;
	}
}