.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--bg-noise), rgba(var(--main-color-rgb), 0.5);
	border-bottom: 1px solid var(--border-color);
	backdrop-filter: var(--main-blur);
	position: fixed;
	z-index: var(--navbar-z-index);
}

.Content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.Spacer {
	position: relative;
	height: var(--navbar-height);
}

.Left {
	display: flex;
	flex: 1;
	justify-content: left;
	align-items: center;
	gap: 40px;
}

.Center {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	gap: 50px;

	a {
		font: var(--font-medium);
	}
}

.Right {
	display: flex;
	flex: 1;
	justify-content: right;
	align-items: center;
}

.Selected {
	color: var(--inverted-main-color);
}

.controlButtons {
	$opacity-buttons: .2;
	display: flex;

	button {
		width: 44px;
		height: 44px;
		padding: 0;
	}

	img,
	svg {
		min-width: 24px;
		height: 24px;
		transition: all .3s ease;
		opacity: $opacity-buttons;
	}

	svg *[stroke] {
		stroke: var(--inverted-main-color);
	}
}

.Logo {}

.blackhole {
	transition: all .5s ease;
	position: absolute;
	rotate: 180deg;
	height: 1000px;
	top: -395px;
	// top: -415px;
	width: 100%;
	z-index: -100;
	// mix-blend-mode: lighten;
	object-fit: cover;

	@media (max-width: --display-notebook) {
		display: none;
	}

	animation: fadeInBlackhole 1s ease-out forwards;
}

@keyframes fadeInBlackhole {
	from {
		opacity: 0;
		transform: scale(.1);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}