.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--bg-noise), var(--main-color);
	border-bottom: 1px solid var(--border-color);
	backdrop-filter: var(--main-blur);
}

.Content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.Left {
	display: flex;
	flex: 1;
	justify-content: left;
	align-items: center;
	gap: 40px;
}

.Center {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	gap: 50px;

	a {
		font-size: var(--font-size-m);
	}
}

.Right {
	display: flex;
	flex: 1;
	justify-content: right;
	align-items: center;
}

.Selected {
	color: var(--inverted-main-color);
}

.controlButtons {
	display: flex;

	button {
		width: 42px;
		height: 42px;
		border-radius: 10px;
		border: none;
		padding: 0;

		&:hover {
			border: 1px solid var(--border-color);
			transition: all .3s ease;

			img,
			svg {
				opacity: 1;
			}
		}
	}

	img,
	svg {
		min-width: 24px;
		height: 24px;
		transition: all .3s ease;
		opacity: .2;
	}

	svg *[stroke] {
		stroke: var(--inverted-main-color);
	}
}

.Logo {}

.blackhole {
	transition: all .5s ease;
	position: absolute;
	rotate: 180deg;
	height: 1000px;
	top: -395px;
	// top: -415px;
	width: 100%;
	z-index: -100;
	// mix-blend-mode: lighten;
	object-fit: cover;

	@media (max-width: --display-notebook) {
		display: none;
	}

	animation: fadeInBlackhole 1s ease-out forwards;
}

@keyframes fadeInBlackhole {
	from {
		opacity: 0;
		transform: scale(.1);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}