.container {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
	opacity: .4;

	@media (width <=--display-notebook) {
		display: none;
	}
}

.wrap {
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: all 1s ease-in-out 0s;
}

.object {
	position: absolute;
	top: -198px;
	width: 6144px;
	height: 198px;
	background: url("/images/wavebar.svg") repeat-x;
	transform: translate3d(0, 0, 0);
	animation: 10s cubic-bezier(.36, .45, .63, .53) 0s infinite normal none running wavebar-svg-object;

	&:nth-of-type(2) {
		top: -174px;
		opacity: 1;
		animation: 5s cubic-bezier(.36, .45, .63, .53) 0s infinite normal none running wavebar-svg-object;
	}
}

@keyframes wavebarSvgObject {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -1600px
	}
}