@import '@/app/styles/utils';

.images {
	display: flex;
	flex-wrap: wrap;
}

.image {
	position: relative;
	width: 96px;
	height: 96px;
	margin-right: 5px;
	overflow: hidden;
	cursor: grab;
	background-color: white;
	border: 2px solid var(--color-border);
	border-radius: 1rem;

	@apply text-sm bg-zinc-800;

	&:active {
		cursor: grabbing;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .2s ease;
	}

	&:hover {
		img {
			opacity: .5;
		}

		.button {
			opacity: 1;
		}
	}
}