@import '@/app/styles/utils';

.wrapper {
	position: fixed;
	left: 50%;
	z-index: var(--z-index-notification);
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	max-width: 1320px;
	padding: 15px 30px;
	overflow: hidden;
	user-select: none;
	backdrop-filter: var(--blur-md);
	border: solid 1px var(--color-border);
	transform: translateX(-50%);

	@include background(.3);
	@apply rounded-xl;

	[class="light"] & {
		@include background(1);

		backdrop-filter: none;
	}

	@media (max-width: theme('screens.md')) {
		@include background(1);
	}

	@media (max-width: theme('screens.sm')) {
		width: calc(100% - 10px * 2);
	}

	button {
		min-width: 37px;
		height: 37px;
	}
}

.content {
	display: flex;
	gap: 10px;
	align-items: center;
}

.startContent {
	max-width: 24px;
	max-height: 24px;
}

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;

	&>div>div {
		animation: progress var(--animation-duration-notification) linear forwards;
	}
}

.top {
	top: 0;
	animation: fadeInFromTop .3s ease-out forwards;
}

.bottom {
	bottom: var(--position-bottom);
	animation: fadeInFromBottom .3s ease-out forwards;
}

.closing {
	animation: fadeOutFromBottom var(--animation-close-duration-notification) ease-out forwards;
}

.closing.top {
	animation: fadeOutFromTop var(--animation-close-duration-notification) ease-out forwards;
}

.swipeLeft {
	animation: swipeLeft var(--animation-close-duration-notification) ease-out forwards !important;
}

.swipeRight {
	animation: swipeRight var(--animation-close-duration-notification) ease-out forwards !important;
}

@keyframes fadeInFromTop {
	0% {
		opacity: 0;
		transform: translate(-50%, 0);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, 100px);
	}
}

@keyframes fadeInFromBottom {
	0% {
		opacity: 0;
		transform: translate(-50%, 100px);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes fadeOutFromTop {
	0% {
		opacity: 1;
		transform: translate(-50%, 100px);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, 0);
	}
}

@keyframes fadeOutFromBottom {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, 100px);
	}
}

@keyframes swipeLeft {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}

	100% {
		opacity: 0;
		transform: translate(-100%, 0);
	}
}

@keyframes swipeRight {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}

	100% {
		opacity: 0;
		transform: translate(100%, 0);
	}
}

@keyframes progress {
	0% {
		transform: translateX(0%);
	}

	100% {
		background-color: theme('colors.danger');
		transform: translateX(-100%);
	}
}