.Notification {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	backdrop-filter: var(--blur-md);
	bottom: var(--position-bottom);
	z-index: var(--z-index-notification);

	display: flex;
	background: var(--bg-noise), rgba(var(--color-main-rgb), 0.3);
	gap: 20px;
	justify-content: center;
	align-items: center;
	border: solid 1px var(--color-border);
	padding: 15px 30px;
	@apply rounded-xl;

	animation: fadeIn .3s ease-out forwards;

	button {
		width: 37px;
		height: 37px;
	}
}

@keyframes fadeIn {
	0% {
		transform: translate(-50%, 100px);
		opacity: 0;
	}

	100% {
		transform: translate(-50%, 0px);
		opacity: 1;
	}
}

.Hide {
	display: none;
}

.Icon {
	opacity: .5;
}

.Content {
	display: flex;
	align-items: center;
	gap: 10px;
}

.Close {}