.notification {
	position: fixed;
	bottom: var(--position-bottom);
	left: 50%;
	z-index: var(--z-index-notification);
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 15px 30px;
	overflow: hidden;
	background: var(--bg-noise), rgb(var(--color-main-rgb), 0.3);
	backdrop-filter: var(--blur-md);
	border: solid 1px var(--color-border);
	transform: translateX(-50%);
	animation: fadeIn .3s ease-out forwards;

	@apply rounded-xl;

	button {
		width: 37px;
		height: 37px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, 100px);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

.closing {
	animation: fadeOut .3s ease-out forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, 100px);
	}
}

.icon {
	opacity: .5;
}

.content {
	display: flex;
	gap: 10px;
	align-items: center;
}

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;

	/* stylelint-disable-next-line selector-class-pattern */
	&>div>div {
		animation: progress var(--animation-duration-notification) linear forwards;
	}
}

@keyframes progress {
	0% {
		transform: translateX(0%);
	}

	100% {
		background-color: theme('colors.danger');
		transform: translateX(-100%);
	}
}