.Logo {
	display: flex;
	transition: all .1s ease;

	&:hover {
		opacity: 1 !important;
	}

	svg *[fill] {
		fill: var(--color-main-inverted);
	}

	svg *[stroke] {
		stroke: var(--color-main-inverted);
	}
}