.Logo {
	display: flex;
	transition: all .1s ease;

	&:hover {
		opacity: 1 !important;
	}

	svg *[fill] {
		fill: var(--inverted-main-color);
	}

	svg *[stroke] {
		stroke: var(--inverted-main-color);
	}
}