.wrapper {
	overflow: hidden;
	border-width: 1px;

	[data-slot="input"] {
		background: none;
	}
}

.inputWrapper {
	display: inline-flex;
	align-items: end;
	width: 100%;
	height: 100%;
	padding-bottom: 0.5px;
}