@import "@/app/styles/variables/var";

.Container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	gap: 50px;

	@media (max-width: $display-phone) {
		width: 60%;
	}
}

.card {
	transform-style: preserve-3d;
	perspective: 1000px;
	cursor: pointer;
	transition: transform .2s ease;

	&:hover {
		transform: scale(1.1);
	}

	.back {
		transform: rotateY(180deg);
		transform-style: preserve-3d;
	}

	.front {
		transform: rotateY(0deg);
		transform-style: preserve-3d;
	}

	&:hover {
		.back {
			transform: rotateY(0deg);
			transform-style: preserve-3d;
			transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1)
		}

		.front {
			transform: rotateY(-180deg);
			transform-style: preserve-3d;
			transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1)
		}
	}
}

.inner {
	transform: translateY(-50%) translateZ(60px) scale(0.94);
	top: 50%;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	perspective: inherit;
	z-index: 2;

	&>img {
		width: 100px;
		height: 100px;
	}
}

.front,
.back {
	height: 200px;
	background: url('/images/noise.png') repeat, #020014;
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: 10px;
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	backface-visibility: hidden;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	.inner {
		height: auto;
		display: grid;
		justify-content: center;
		align-items: center;
		gap: 15px;
		font: var(--font-medium) !important;
		padding: 20px;

		h1 {
			font-weight: 500;
			font-size: var(--font-size-large);
			line-height: 22px;
			width: 100%;
			text-align: center;
		}

		p {
			text-align: center;
			font: var(--font-small);
		}
	}
}

.front {
	&::before {
		content: '';
		background: rgba(231, 212, 255, 0.3);
		position: absolute;
		filter: blur(30px);
		width: 110px;
		height: 110px;
		border-radius: 100px;

		left: 0;
		right: 0;
		bottom: -30px;
		top: 0;
		margin: auto;
	}

	.inner {
		display: flex;
		flex-direction: column;
		padding: 15px 20px;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		gap: 25px;

		h1 {
			font-weight: 500;
			font-size: var(--font-size-large);
			line-height: 22px;
			width: 100%;
			text-align: center;
		}
	}
}

.refresh {
	position: absolute;
	opacity: .15;
	right: 0px;
	top: 0;
}