.image {
	position: relative;
	left: 50%;
	width: 1006px;
	height: auto;
	margin-top: -100px;
	margin-bottom: -250px;
	mix-blend-mode: lighten;
	transform: translateX(-50%);
}

.slider {
	display: flex;
	gap: 30px;
	padding-top: 80px;
}