.ScrollUp {
	position: fixed !important;
	bottom: var(--position-bottom);
	right: 30px;
	opacity: 0;
	z-index: var(--scroll-up-z-index);

	&::before {
		content: '';
		width: 20px;
		height: 20px;
		background-image: url("/images/icons/arrow-up.svg");
	}

	&.visible {
		transition: all .3s ease;
		animation: slideInFromRight 0.5s forwards;
		opacity: .7;

		&:hover {
			opacity: 1;
		}
	}


	&.hidden {
		transition: all .3s ease;
		animation: slideOutToRight 0.5s forwards;
		opacity: 0;
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slideOutToRight {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}