@import '@/app/styles/utils';

.scrollUp {
	position: fixed !important;
	right: 30px;
	bottom: var(--position-bottom);
	z-index: var(--z-index-scroll-up);
	opacity: 0;


	@media (max-width: theme('screens.sm')) {
		top: var(--position-top);
		right: 10px;
		bottom: auto;
	}

	&::before {
		width: 20px;
		height: 20px;
		content: '';
		background-image: url("/images/icons/arrow-up.svg");
	}

	&.visible {
		opacity: .7;
		transition: all .3s ease;
		animation: slideInFromRight 0.5s forwards;

		@include background(.6);

		@media (max-width: theme('screens.sm')) {
			opacity: .9;

			@apply text-sm;
			@include background(1);
		}

		&:hover {
			opacity: 1;
		}
	}


	&.hidden {
		opacity: 0;
		transition: all .3s ease;
		animation: slideOutToRight 0.5s forwards;
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slideOutToRight {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}