.wrapper {
	position: relative;
	margin-top: 210px;

	@media (max-width: theme('screens.sm')) {
		margin-top: 80px;

		h1 {
			font-size: theme('fontSize.3xl') !important;
		}
	}
}

.wrapperSwiper {
	position: relative;
	margin-top: 50px;

	@media (max-width: theme('screens.sm')) {
		margin-top: 30px;
	}
}

.image {
	position: absolute;
	top: -170px;
	left: 50%;
	width: 1000px;
	height: 300px;
	overflow: visible;
	object-fit: cover;
	mix-blend-mode: lighten;
	transform: translateX(-50%);
}

.icon {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	width: 100px;
	height: 100%;

	&:first-child,
	&:last-child {
		z-index: 10;
		background: linear-gradient(90deg, var(--color-background) 22.555%, rgba(3, 2, 13, 0%) 100%);
	}

	&:first-child {
		left: 0;
	}

	&:last-child {
		right: 0;
		transform: rotate(180deg);
	}
}

.bulletContent {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 50px;

	@media (max-width: theme('screens.sm')) {
		margin-top: 30px;
	}
}

.bulletWrapper {
	position: relative;
	display: flex;
	width: fit-content !important;
	padding: 0 10px;
	overflow: hidden;
	background: var(--bg-noise), var(--color-main);
	border: 1px solid var(--color-border);

	@apply rounded-full;

	// &::before {
	// 	position: absolute;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	content: '';
	// 	background: rgba(var(--color-main-inverted-rgb), .1);
	// 	transform: translateX(var(--autoplay-progress));
	// }
}

.bullet {
	position: relative;
	width: 18px;
	height: 22px;
	cursor: pointer;

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		display: inline-block;
		width: 6px;
		height: 6px;
		content: '';
		background: var(--color-main-inverted);
		opacity: .1;
		transform: translate(-50%, -50%);

		@apply rounded-full;
	}
}

.bulletActive {
	&::after {
		opacity: 1;
	}
}

.buttonPrev {
	left: -1px;
	background: linear-gradient(90deg, var(--color-background) 20%, rgba(var(--color-main-rgb), 0%) 100%);

	@media (max-width: theme('screens.md')) {
		background: none;
	}

	&>* {
		left: 10px;
	}
}

.buttonNext {
	right: -1px;
	background: linear-gradient(-90deg, var(--color-background) 20%, rgba(var(--color-main-rgb), 0%) 100%);

	@media (max-width: theme('screens.md')) {
		background: none;
	}

	&>* {
		right: 10px;

		&::before {
			transform: rotate(180deg);
		}
	}
}

.buttonPrev,
.buttonNext {
	position: absolute;
	top: 0;
	z-index: 7;
	width: 100px;
	height: 100%;
	pointer-events: none;

	&>* {
		position: absolute;
		top: 50%;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		pointer-events: all;
		cursor: pointer;
		background: rgba(var(--color-main-rgb), .6);
		backdrop-filter: var(--blur-md);
		border: 1px solid var(--color-border);
		transition: all .2s ease;
		transform: translateY(-50%);

		@apply rounded-full;

		@media (max-width: theme('screens.sm')) {
			height: 38px;
			padding: 0 8px;
		}

		&:active {
			transform: translateY(-50%) scale(0.925);
		}

		&::before {
			width: 22px;
			height: 22px;
			content: '';
			background: url('/images/icons/arrow-left.svg');
		}
	}
}