@import '@/app/styles/utils';

.wrapper {
	position: fixed;
	z-index: var(--z-index-navbar);
	width: 100%;
	height: var(--navbar-height);
	backdrop-filter: var(--blur-xl);
	border-bottom: 1px solid var(--color-border);

	@include background(.5);

	[class="light"] & {
		@include background(1);

		backdrop-filter: none;
	}

	@media (max-width: theme('screens.md')) {
		backdrop-filter: none;

		@include background(1);
	}

	@media (max-width: theme('screens.sm')) {
		bottom: 0;
		height: var(--navbar-height-mobile);
		border-top: 1px solid var(--color-border);
		border-bottom: none;
	}
}

.content,
.contentSearch {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.contentSearch {
	gap: 10px;
}

.spacer {
	position: relative;
	height: var(--navbar-height);

	@media (max-width: theme('screens.sm')) {
		height: var(--navbar-height-search-mobile);
	}
}

.logo {
	&>div {
		transition: transform .3s ease;

		&:active {
			transform: scale(0.95);
		}
	}
}

.searchButton {
	position: relative;
	justify-content: start !important;
	width: 155px !important;
	padding: 6px 12px;
	background: rgb(var(--color-main-inverted-rgb), .05) !important;
	border: none !important;

	@apply text-sm;

	@media (max-width: theme('screens.sm')) {
		width: 100% !important;
		padding: 10px 12px;
	}

	kbd {
		position: absolute;
		right: 4px;
		background: rgba(var(--color-main-inverted-rgb), .075);

		@apply text-xs;
	}

	&:hover {
		background: rgb(var(--color-main-inverted-rgb), .1) !important;
	}
}

.input {
	width: 155px;
	transition: all .3s ease;

	@media (max-width: theme('screens.sm')) {
		width: 100%;
	}

	input {
		color: rgb(255, 255, 255, 50%);
	}

	img,
	svg {
		opacity: .5;
		transition: opacity .3s ease;
	}

	[data-focus="true"] {
		background: rgb(var(--color-main-inverted-rgb), .1) !important;

		img,
		svg {
			opacity: 1;
		}
	}

	[data-slot="input-wrapper"] {
		background: rgb(var(--color-main-inverted-rgb), .05);

		@media (max-width: theme('screens.sm')) {
			height: 40px;
			padding: 0 12px;

			@apply rounded-xl;
		}

		&:hover {
			background: rgb(var(--color-main-inverted-rgb), .1);
		}
	}
}

.spinner {
	i {
		border-bottom-color: var(--color-main-inverted);
	}
}

.left {
	.logo:not(:last-child) {
		margin-right: 35px;
	}

	.searchButton:not(:last-child) {
		margin-right: 10px;
	}

	.spinner:not(:last-child) {
		margin-right: 250px;
	}

	display: flex;
	flex: 1;
	align-items: center;
	justify-content: left;

	@media (max-width: theme('screens.xl')) {
		flex: 0;
	}
}

.center {
	display: flex;
	flex: 0 0 auto;
	gap: 20px;
	align-items: center;
	justify-content: center;
	height: 100%;

	@media (max-width: theme('screens.xl')) {
		flex: 1;
	}
}

.right {
	display: flex;
	flex: 1;
	gap: 25px;
	align-items: center;
	justify-content: right;

	@media (max-width: theme('screens.xl')) {
		flex: 0;
	}

	@media (max-width: theme('screens.sm')) {
		max-width: min-content;
	}
}

.controlButtons {
	$opacity-buttons: .2;

	display: flex;

	button {
		width: 40px;
		height: 40px;
		padding: 0;
		color: rgba(var(--color-text), .2);
		border: 1px solid transparent;

		@apply rounded-large;

		&:hover {
			border: 1px solid var(--color-border);

			img,
			svg {
				opacity: 1 !important;
			}
		}
	}

	/* stylelint-disable-next-line no-descending-specificity */
	img,
	svg {
		min-width: 24px;
		height: 24px;
		opacity: $opacity-buttons !important;
		transition: all .3s ease;
	}

	svg *[stroke] {
		stroke: var(--color-main-inverted);
	}
}

.tooltip {
	background: var(--bg-noise), var(--color-background);
	border: 1px solid var(--color-border);
}

.search {
	position: fixed;
	z-index: var(--z-index-navbar);
	width: 100%;
	height: var(--navbar-height-search-mobile);
	backdrop-filter: var(--blur-xl);
	border-bottom: 1px solid var(--color-border);
	transition: all .3s ease;

	@apply rounded-b-2xl;
	@include background(.5);

	@media (max-width: theme('screens.md')) {
		@include background(1);
	}
}

.mobile {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&>* {
		display: flex;
		align-items: center;
	}
}