@import '@/app/styles/utils';

/* stylelint-disable no-descending-specificity */
.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	max-width: 290px;
	cursor: pointer;

	&:hover {
		img {
			// transform: scale(1.05);
		}

		.top>button {
			margin-top: 0;
			transform: none;
		}
	}
}

.top {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 290px;
	overflow: hidden;

	@apply rounded-lg;

	button {
		width: 100%;
		height: 50px;
		margin-top: -50px;
		transform: translateY(100%);

		@include background;
	}
}

.image {
	height: 100%;
	overflow: hidden;

	@apply rounded-lg;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .3s ease;
	}
}

.heading {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	@apply text-base;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price {
	display: flex;
	gap: 8px;
	align-items: center;
	font-weight: 800;

	@apply text-lg;
}

.oldPrice {
	text-decoration: line-through;
	opacity: .5;

	@apply text-sm;
}