.heading {
	display: flex;
	flex-direction: column;
	gap: 5px;

	@media (max-width: theme('screens.sm')) {
		align-items: center;
		text-align: center;
	}
}

.description {
	max-width: 528px;
	color: rgba(var(--color-text), .5);
}

.center {
	gap: 10px;
	align-items: center;

	.description {
		text-align: center;
	}
}

.title {
	position: relative;

	h1 {
		font-size: 64px;
		font-weight: 900;
	}

	p {
		position: absolute;
		bottom: -5px;
		left: 15px;
		z-index: var(--z-index-title-heading);
		font-size: 96px;
		font-weight: 900;
		color: var(--color-background);
		text-shadow: 0 0 0 rgba(var(--color-text), .3);
		white-space: nowrap;

		@media (max-width: theme('screens.sm')) {
			display: none;

			// left: 50%;
			// font-size: 82px;
			// transform: translateX(-50%);
		}
	}
}