.Heading {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.center {
	align-items: center;
	gap: 10px;

	.Description {
		text-align: center;
	}
}

.Title {
	position: relative;

	h1 {
		font-size: 64px;
		font-weight: 900;
		white-space: nowrap;
	}

	p {
		white-space: nowrap;
		position: absolute;
		bottom: -5px;
		left: 15px;
		font-size: 96px;
		font-weight: 900;
		color: var(--color-background);
		text-shadow: 0px 0px 0px rgba(var(--color-text), .3);
		z-index: var(--z-index-title-heading);
	}
}

.Description {
	max-width: 528px;
	color: rgba(var(--color-text), .5);
}