.backgroundTop {
	position: relative;
	top: -90px;
	left: 0;
	z-index: var(--z-index-hero-images);
	grid-column: 1 / 3;
	width: 100%;
	height: 220px;
	margin-bottom: -220px;
	background-image: url('/images/pages/background-top.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.background {
	position: absolute;
	width: 100%;
	mask-image: url('/images/pages/background-top-mask.png');
	mask-repeat: no-repeat;
	mask-size: 100%;
	transition: 1s cubic-bezier(.6, .6, 0, 1) opacity;

	&>div {
		height: 200px;
		background: linear-gradient(180deg, rgb(183, 164, 251, 0%) 0, #b5a4ff 100%, #8562ff 100%, rgb(133, 98, 255, 0%) 0%);
		animation: topAnimation 6s infinite cubic-bezier(.62, .62, .28, .67);
	}
}

@keyframes topAnimation {
	0% {
		transform: translateY(-202px);
	}

	33%,
	100% {
		transform: translateY(202px);
	}
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 30px 0;

	&:not(.compact) {
		padding: 100px 0 0;
		margin-bottom: -100px;
	}

	@media (max-width: theme('screens.md')) {
		padding: 60px 0;

		&:not(.compact) {
			padding: 60px 0 0;
			margin-bottom: 0;
		}
	}

	@media (max-width: theme('screens.md')) {
		grid-template-columns: 1fr;
	}
}

.information {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 80px;

	@media (max-width: theme('screens.md')) {
		align-items: center;
	}
}

.image {
	display: flex;
	justify-content: center;

	img {
		max-height: 280px;
		object-fit: contain;
	}

	&:not(.compact) img {
		max-height: 400px;
	}
}

.dots {
	position: absolute;
	bottom: -120px;
	width: 100%;
	height: 100%;
	background-image: url('/images/pages/design-top-page.png');
	opacity: .1;

	@media (max-width: theme('screens.md')) {
		bottom: 100px;
	}
}