.inputWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	max-width: 185px;
	padding: 6px 12px;
	color: rgb(255, 255, 255, 50%);
	background: rgb(var(--color-main-inverted-rgb), .05);
	border-radius: 6px;

	@apply text-sm;

	img {
		opacity: .5;
	}
}

.s {
	height: 32px;
}

.m {
	height: 32px;
}

.l {
	height: 44px;
}

.addonLeft,
.addonRight {
	display: flex;
}

.withAddonLeft {
	padding-left: 12px;
}

.withAddonRight {
	padding-right: 12px;
}

.focused {
	border: 2px solid var(--accent-redesigned);

	.addonLeft svg,
	.addonRight svg {
		color: var(--accent-redesigned);
	}
}

.input {
	width: 100%;
	color: var(--text-redesigned);
	background: none;
	border: none;
	outline: none;

	&::placeholder {
		color: var(--hint-redesigned);
	}
}

.readonly {
	opacity: 0.7;
}